.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
*.iml
*.class
*.log
*.lock
*.swp
.DS_Store
.atom/
.buildlog
.history
.svn/
migrate_working_dir/
/android/app/debug
/android/app/profile
/android/app/release
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*
pubspec.lock
.idea/
.gradle/
local.properties
GeneratedPluginRegistrant.swift
GeneratedPluginRegistrant.m
